@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body {
    overflow-x: hidden; 
  }
.fact-box {
    background-color: #043a5b;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 8.6rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

    .fact-caption {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
    .fact-heading {
      font-size: 22px;
      margin: 0 0 15px 0;
    }

    .fact-content {
      font-size: 16px;
    }

    .fact-text,
    .fact-link {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .fact-text.fade,
    .fact-link.fade {
      opacity: 0;
    }

    .fact-link {
      display: inline-block;
      color: #fff;
      text-decoration: underline;
      font-weight: bold;
      margin-top: 10px;
    }

    .fact-link:hover {
      color: #e0e0e0;
    }

    .fact-refresh {
    cursor: pointer;
    text-align: center;
    margin-top: 4rem;
}

    .fact-refresh img {
      width: 20px;
      height: 20px;
      filter: brightness(100);
    }

    #indicator {
      position: absolute;
      bottom: 36px;
      margin-left: -45% !important
    }


    .carousel-indicators [data-bs-target] {
      background-color: #ffffff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 5px;
      opacity: 0.6;
      transition: opacity 0.3s ease;
    }

    .carousel-indicators .active {
      opacity: 1;
      background-color: #fff;
    }

    .row.align-items-center.noMargin {
      background: #fff;
    }

    .row.align-items-center.noMargin:after {
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;
      border-right: 15px solid #ffffff;
      content: "";
      height: 0;
      position: absolute;
      right: 26.7rem;
      top: 55px;
      width: 0;
      z-index: 1;
    }

/* Default: White icon for desktop */
.upcombox.border.p-4.mt-5 {
    /* margin-left: 20px; */
    margin-right: -42px;
}
footer.custom-footer {
    background: #0876b9 !important;
}
h4.coporate-title {
    color: #00235a;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    border: 1px solid;
    text-align: center;
    padding: 7px;
    background: #fff;
    margin-top: -49px;
    border-radius: 4rem;
    width: 100%;
    max-width: 23%;
    margin-left: 1.1rem;
}
.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #00235a;
}

.upcombox h3 {
    color: #00235a;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    border: 1px solid;
    width: 100%;
    padding: 7px;
    background: #fff;
    margin-top: -45px;
    max-width: 43%;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
h4.upbox {
    background: #00235a;
    padding: 11px;
    color: #fff;
  font-family: 'Poppins', sans-serif;
}
h4.upbox a {
    color: #fff;
    background: #b04200;
    padding: 7px;
    font-size: 15px;
    margin-left: 4rem;
}


.offcanvas-start{
  width:300px !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Below 992px: Black icon */
@media (max-width: 991.98px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.85)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
}

.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active {
    background-color: #00235a !important;
    color: #fff !important;
    text-decoration: none;
}
article.custom-event {
    margin-left: -21px;
}
#customFullWidthCarousel {
    background: #f0f8ff;
    padding: 10px;
    margin-top: 9px;
}
h5.custom-event-title.mt-2 a {
    color: #000;
    font-family: 'Poppins';
}
.sub-menu {
    position: absolute;
  display: none;  
  background: #fff;
  list-style: none; 
  width: 231px;
    line-height: 45px; 
     overflow-y: auto;
  height: 300px; /* define height */
    
}

 

li:hover > .sub-menu {
  display: block;
}
li:hover > .sub-menus {
  display: block;
}

.more-sub-menus {
    position: fixed;
    left: 41%;
    top: 128px;
    display: none;
      overflow-y: auto;
  height: 300px; /* define height */
    background: #fff;
    width: 230px;
}
.sub-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 0px;
    color: #000;
    font-weight: 400;
    border-radius: 0px;
 }

.more:hover .more-sub-menu {
  display: block;
}
.more:hover .more-sub-menus {
  display: block;
}

.arrow { 
  font-size: 12px;
}


.form-wrapper {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    width: 354px;
    margin-left: 21px;
    border: 1px solid #e3e3e3;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    animation: fadeIn 1s ease-out;
}
.the-heading-size-md {
    padding-bottom: 23px;
}
.the-heading-size-md {
    padding-bottom: 23px;
}
.title{
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}
.subtitle{
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
}
.contact-form{
    width: 100%;
}

.form-row{
    /*display: flex;*/
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.form-column{
    flex: 1;
    min-width: 250px;
}
.form-label{
    display: block;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}
.form-input,
.form-textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s, transform 0.3s;
}
.form-input:focus,
.form-textarea:focus{
    border-color: #ff6000;
    outline: none;
    transform: scale(1.02);
}
.form-textarea{
    resize: none;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #00235a, #00235a);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}
.submit-button:hover {
    background: linear-gradient(135deg, #ff6000, #ff6000);
    transform: scale(1.05);
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px){
    .form-wrapper{
        padding: 30px;
    }
    .title{
        font-size: 24px;
    }
    .subtitle{
        font-size: 14px;
    }
    .form-row{
        flex-direction: column;
    }
}

@media (max-width: 540px){
    .form-wrapper{
        padding: 20px;
      margin-left:17px;
    }
    .title{
        font-size: 20px;
    }
    .subtitle{
        font-size: 12px;
    }
    .form-row{
        flex-direction: column;
        gap: 15px;
    }
    .form-column{
        min-width: 100%;
    }
    .form-label{
        font-size: 12px;
    }
    .form-input,
    .form-textarea{
        padding: 10px;
    }
    .submit-button{
        padding: 10px;
        font-size: 14px;
    }
}


/*.dropdown-item.active {
    background-color: #333;
    color: #fff;
}*/
#network-slider {
    width: 100%;
    margin-left: -22px;
}

 .nav-item.active > {
    background-color: #333;
    color: #fff;
}
ul.navbar-nav .nav-item {
    padding-left: 12px;
}

.nav-links li > a {
    text-transform: capitalize;
    color: #333;
    transition: background-color 0.2s, color 0.2s;
}

.nav-links li > a:hover,
.nav-links li > a:focus {
    background-color: #333;
    color: #fff;
}

.nav-links li.active > a {
    background-color: #333;
    color: #fff;
}


  .navbar {
    position: sticky;
    top: 0;
    z-index: 1050;
    padding:0 !important;
  }
li.nav-item .nav-link{
  font-size:14px;
  font-weight: 600;
}
li.nav-item a.nav-link.active{
 border-bottom: 3px solid #00235a !important; 
}
li.nav-item .nav-link:hover{
    border-bottom: 3px solid #00235a !important;
  
}

 
  /* Hover dropdown for desktop */
ul.navbar-nav {
    padding-left: 19px !important;
}
a.nav-link {
    color: #ffffff !important;
}
a.offcanv-link{
    color: #000 !important;
}
 


 /* .offcanvas-header {
    border-bottom: 1px solid #dee2e6;
  }*/
  .offcanvas-header{
    padding: 1rem 2rem !important;
  }
  .offcanvas-body{
    padding: 1rem 0rem !important;
  }

  .offcanvas-toggle-text {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .offcanvas-toggle-text:hover {
    color: #e2e6ea;
  }
  .navbar .main-logo {
    display: none;
    width: 100%;
    max-width: 43%;
}
.list-unstyled {
    padding-left: 0px !important;
    list-style: none;
    padding-right: 46px !important;
}
/*ul.navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
}*/
/*ul.navbar-nav {
    padding-left: 19px !important;
}*/
.dropdown-menu.dropdown-item{
    border-bottom: 2px solid red;
}
@media (max-width: 1100px) and (min-width: 992px) {
  ul.navbar-nav .nav-item {
    padding-left: 1px;
  }
  .container-fluid {
    max-width: 1222px;
    border-radius: 5px;
    /* line-height: 40px; */  
  /*height:45px;*/
    background: #fff;
}
}
  @media (max-width: 992px) {
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}
    @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
    @media (min-width: 992px) {
    .navbar-dark .navbar-nav .nav-link{
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}
    
.header-main{
    display: none;
}

  .navbar .main-logo {
  display: block;
    line-height:58px;
}
header.top-header.top-header--skin-4{
    background: #fff;
}
   li a.dropdown-item.active {
    background: #00235a !important;
     color:red !important;
     font-size:50px !important;
}
    a.dropdown-item.active {
    background: red !important;
}

    .dropdown-item.active, 
.dropdown-item:active {
    color:red;
    text-decoration: none;
    background-color: #00235a !important; /* Your custom background */
}
    .navbar-nav .dropdown-menu .dropdown-item.active,
.navbar-nav .dropdown-menu .dropdown-item:active {
    background-color: #c60000 !important;  /* 🔴 Your red */
    color: #fff !important;
    text-decoration: none !important;
}



}
 /* Hover dropdown for desktop */
 @media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
      display: block;
    } 
  
  }
 @media (max-width: 992px) {
.container-fluid {
    max-width: 1222px;
    border-radius: 5px;
    /* line-height: 40px; */  
  /*height:45px;*/
    background: #fff !important;
}
}
.container-fluid {
    max-width: 1222px;
    border-radius: 5px;
    /* line-height: 40px; */  
  /*height:45px;*/
    background: #ff6000;
}
 @media (max-width: 992px) {
.container-fluid {
    max-width: 1222px;
    border-radius: 5px;
    /* line-height: 40px; */  
  /*height:45px;*/
    background: #fff !important;
}
}
.container {
    max-width: 1250px !important;
}


.scroll-count-percent {
  display: none;
}

.scroll-count-percent {
    position: fixed;
    /* bottom: 58px; */
    top: 141px;
   /* background: gray;*/
    right: 30px;
    width: 80px;
    height: 80px;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
}
i.fas.fa-link.text-primary.fs-4 {
    padding-right: 12px;
}
span.btn:hover{
    background-color: #00235a !important;
    border: none !important;
      border: 2px solid #00235a !important;
}
  .scroll-count-percent.active {
    display: flex;
  }
  
  .progress-scroll {
    position: absolute;
    transform: rotate(-90deg);
  }
  
  .progress__meter {
    fill: white;
    stroke: #e6e6e6;
}
  
  .progress__value {
    fill: none;
    stroke: #00235a;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.25s ease-out;
  }
  
  .percent-number {
    position: relative;
    font-size: 20px;
  }
#btnScrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1050;
    border-radius: 50%;
    background: #00235a;
    width: 45px;
    height: 45px;
    display: flex
;
    align-items: center;
    justify-content: center;
}
  
  #btnScrollTop i {
    font-size: 18px;
    color:#fff;
  }
  
  


header.top-header.top-header--skin-4 {
    background: #00235a;
}
@media (max-width: 992px) {
    header.top-header.top-header--skin-4 {
        background: #fff;
    }
  .scroll-count-percent.active{
    display:none;
  }
  #btnScrollTop{
    display:none;
  }
  .latest-slider{
        padding: 0px;
  }
}
.top-header {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .03), 0 1px 0 0 rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .03), 0 1px 0 0 rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .04);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .03), 0 1px 0 0 rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .04);
    z-index: 20;
}
.top-header {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .03), 0 1px 0 0 rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .03), 0 1px 0 0 rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .04);
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .03), 0 1px 0 0 rgba(0, 0, 0, .04), 0 -1px 0 0 rgba(0, 0, 0, .04);
    z-index: 20;
}
.header-main {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    .header-main {
        padding: 40px 0;
    }
}
.header-main {
    padding: 15px 0;
}
@media (min-width: 992px) {
    .header-main {
        padding: 40px 0;
    }
}
.header-main {
    padding: 15px 0;
}
/*@media (min-width: 1200px) {
    .container {
        width: 1250px;
        /* width: 1300px; 
    }
}*/
@media (min-width: 970px) {
   i.fa-solid.fa-angle-down {
        display:none;
        /* width: 1300px; */
    }
}

.row--flex.row--vertical-center {
    -webkit-box-align: center;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -ms-flex-align: center;
}
.row--flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row--flex>[class*=col-] {
    float: none;
}
.text-left {
    text-align: left;
}
.top-header .top-logo a {
    display: block;
    height: 100%;
}

.top-header .top-logo a {
    display: block;
    height: 100%;
}
.header-logo a {
    text-decoration: none !important;
}
img {
    max-width: 100%;
    height: auto;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-right {
    text-align: right;
}
img.img-fluid.br-rd {
    height: 99px;
}
@media (min-width: 768px) {
    .social-list {
        font-size: 16px;
        font-size: 1.14286rem;
    }
}
.social-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1rem;
    list-style: none;
}
.list-horizontal {
    margin-top: 0;
    margin-bottom: 0;
}
.text-white {
    color: #fff !important;
}
@media (min-width: 768px) {
    .social-list {
        font-size: 16px;
        font-size: 1.14286rem;
    }
}
.social-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1rem;
    list-style: none;
}
.list-horizontal {
    margin-top: 0;
    margin-bottom: 0;
}
.text-white {
    color: #fff !important;
}
.text-right {
    text-align: right;
}
.list-horizontal>li {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.faa {
    padding: 7px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
    border-radius: 50%;
    background-color: white;
    background: #ffffff;
}
.social-list>li>a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0 .4em;
    color: rgba(0, 0, 0, .8);
    line-height: 20px;
    -webkit-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    -moz-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
}
.black-theme {
    color: #000000 !important;
}

/* Make the top-header sticky */
.top-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff; /* Or your preferred background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ensure navigation bar is sticky too */

#mobail-logo {
    display: none;
}
@media screen and (max-width: 970px) {
    #mobail-logo{
        display: block;
    }
}
nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 26px;
    height: 45px;
    line-height: 45px;
    margin: auto;
    /* display: flex
; */
    align-items: center;
    justify-content: space-between;
    background-color: #ff5e14;
}
.text-right {
    text-align: right;
}

@media (min-width: 768px) {
    .social-list {
        font-size: 16px;
        font-size: 1.14286rem;
    }
}
.social-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1rem;
    list-style: none;
}
.list-horizontal {
    margin-top: 0;
    margin-bottom: 0;
}
.text-white {
    color: #fff !important;
}
@media (min-width: 768px) {
    .social-list {
        font-size: 16px;
        font-size: 1.14286rem;
    }
}
.social-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1rem;
    list-style: none;
}
.list-horizontal {
    margin-top: 0;
    margin-bottom: 0;
}
.text-white {
    color: #fff !important;
}
.list-horizontal>li {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}
.row--flex>[class*=col-] {
    float: none;
}

.row--flex>[class*=col-] {
    float: none;
}
.col-xs-4 {
    width: 33.33333333%;
}
.text-left {
    text-align: left;
}
.top-header .top-logo a {
    display: block;
    height: 100%;
}
.top-header .top-logo a {
    display: block;
    height: 100%;
}
#offcanvasNav {
    background: #ffffff !important;
}
.header-logo a {
    text-decoration: none !important;
}
.header-logo a {
    text-decoration: none !important;
}
.text-right {
    text-align: right;
}
button.btn-close {
    margin-left: 59px !important;
}
div#left-carousel {
    background: #00235a;
    padding: 0px;
}





@media screen and (max-width: 970px) {
    #close-btn:checked ~ .btn.menu-btn {
        display: block;
    }
}

@media screen and (max-width: 970px) {
    .wrapper .btns {
        display: none;
    }
}
.wrapper .btns {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    
}
/*=====main-slider===*/
.owl-main-carousel .item {
      height: 80vh;
      background-size: cover;
      background-position: center;
      position: relative;
      color: #fff;
    }
  .owl-main-carousel.owl-theme.owl-carousel.owl-theme .owl-controls {
    display: inline-block;
    zoom: 1;
    margin-left: 50%;
    margin-top: -43px;
    position: absolute;
}

    .slides-text {
      position: absolute;
      top: 50%;
      left: 7.4%;
      transform: translateY(-50%);
      z-index: 2;
      max-width: 500px;
     background: #00000085;
    padding: 2rem;
    }

    .slide-text h1 {
      font-size: 3rem;
      margin-bottom: 15px;
    }

    .slide-text p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .btn {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
    }

    .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5) !important;
      color: #fff !important;
      border-radius: 50%;
      padding: 10px !important;
      border: none;
    }

    .owl-nav .owl-prev {
      left: 10px;
    }

    .owl-nav .owl-next {
      right: 10px;
    }

    .owl-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    .owl-dots .owl-dot span {
      background: #fff;
    }

    .owl-dots .owl-dot.active span {
      background: #007bff;
    }

    /*thumblain-slide*/
    .mainslider-container {
  position: relative;
  overflow: hidden;
  height: 80vh;
  background: #000;
}

.thumbslide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  z-index: 0;
}

.thumbslide.active {
  opacity: 1;
  z-index: 1;
}

.slide-text {
    position: absolute;
   top: 165px;
    left: 109px;
    color: white;
    z-index: 2;
    background: #00000085;
    padding: 2rem;
}

.slide-text h1 {
  font-size: 2.5rem;
}

.slide-text a {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  background: #007bff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.thumbnail-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.thumbnails {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 10px 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.thumbnails::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.thumbnail {
  height: 60px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail.active {
  border-color: #007bff;
}

.arrow-button {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  background: #000;
  color: #fff;
  user-select: none;
}





















.flexbox-wrap.flexbox-center-y {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}
.navigation-bar__section:last-child {
    padding-right: 0;
    margin-left: 14px;
}
@media (max-width: 1400px) and (min-width: 993px) {
  .navigation-bar__section:last-child {
    margin-left: 0;
    padding-right: 0px;
  }
}


.flexbox-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex
;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
/* Remove background and borders from the button */
.navigation-bar-btn {
    background: none;        /* Removes background */
    border: none;            /* Removes border */
    padding: 0 10px;              /* Remove padding, optional */
    font-size: 12px;       /* Adjust icon size */
    cursor: pointer;        /* Make sure it's clickable */
}

/* Optional: Adjust icon color and size */
.navigation-bar-btn i {
    color: #ffffff;             /* Icon color (change as needed) */
    font-size: 16px; 
    font-weight: bold;        /* Icon size */
}
.the-heading-size-md.m-t-md.p-b-md {
    padding-top: 14px;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #7795b394;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #ffffff;
  width: 231px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 0px;
  color: #000;
  font-weight: 400;
  border-radius: 0px;
}

.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -21px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 3px;
  color: #000000;
  font-size: 13px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
#back-button {
    margin-left: -4px;
    background-color: rgb(6 6 6 / 44%);
    position: absolute;
    padding: 20px;
    height: 3rem;
    border-radius: 24px;
    width: 3rem !important;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

/*=========================================
0.1 Our Exclusive Services
=========================================*/
/* General Styling */
.our-exclusive {
    padding: 7px 66px 20px 20px;
    overflow-x: hidden;
}
/*.owl-wrapper {
    left: 21px !important;
}*/
.block-heading.block-heading--style-6 .block-heading__title:before {
    content: '';
    border-top: 3px solid #666;
    border-left: 3px solid #666;
    border-color: inherit;
    width: 10px;
    height: 10px;
   /* position: absolute;*/
    top: 0;
    left: 65px;
    margin-top: -18px;
}
.container-768.container.the-heading-size-md {
    padding: 0;
}
.block-heading--line.block-heading .block-heading__title:after {
    content: '';
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    order: 2;
    -ms-flex-order: 2;
    margin-left: 30px;
    border-top: 2px solid #222;
    border-color: inherit;
}


.block-heading.block-heading--style-6 .block-heading__title {
    padding-top: 5px;
    padding-left: 10px;
}
/*.block-heading {
    padding: 15px 23px 0px 5px;
}*/
.block-heading.block-heading--style-6 .block-heading__title, .block-heading.block-heading--style-7 .block-heading__title, .block-heading.block-heading--style-8 .block-heading__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    line-height: 1em;
    border-color: inherit;
}
.post__text h3 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.block-heading .block-heading__title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    height: 100%;
    height: 258px;
}
#carousel-tatainner .carousel-item img {
    object-fit: cover;
    height: 100%;
    height: 558px;
}
.carousel-caption {  
    padding-top: 1.25rem;
    padding-bottom: 12.25rem !important;
   
}

/* Layout adjustments for large screens */
.col-lg-6 {
    padding: 0;
}

/* Right-side boxes styling */
.post {
    margin-bottom: 15px;
}

.post img {
    width: 100%; /* Make images responsive */
    border-radius: 8px;
}

/* Text styling */
.post__text h3 {
    font-size: 17px;
    margin-top: 7px;
    text-align: left;
}

/* Responsive Styling */
@media (max-width: 1199px) {
   /* .col-md-4 {
        flex: 0 0 50%; /* Two boxes per row on medium screens 
    }*/
}

@media (max-width: 991px) {
    /*.col-md-4 {
        flex: 0 0 50%; /* Two boxes per row on smaller screens 
    }*/

    .col-lg-6 {
        width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 767px) {
    /*.col-md-4, .col-md-6 {
        width: 100%;  Full width on mobile screens
    } */

    .carousel-inner {
        margin-bottom: 30px; /* Space between carousel and posts */
    }
}

@media (max-width: 576px) {
    .post__text h3 {
        font-size: 16px; /* Adjust title size for small screens */
    }
}
#donkey {
    border: 30px solid transparent;
    border-image-source: url(../img/frame_2.png);
    /* border-image-source: url(/Icc/assets/img/frame_2.png); */
    border-image-slice: 35;
    border-image-repeat: round;
}
.carousel-testimonia.owl-carousel.owl-theme {
    margin-left: -7px;
}
.exclusive--vertical-reverse-text-wrap .exclusive__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    -moz-box-ordinal-group: 2;
    order: 2;
    /* padding: 40px 40px 50px 40px; */
    height: 393px;
    height: auto;
}

.text-center {
    text-align: center !important;
}
.text-center {
    text-align: center;
}
.exclusive__text {
    width: 100%;  
}
h3.exclusive__title.typescale-3{
    font-size: 15px;
}
h3.exclusive__title.typescale-3.text-white a {
    text-decoration: none;
    color: #000;
}
/*========================================
0.3  our exciting chronicles
============================================*/
/* For smaller screens */
@media (max-width: 768px) {
    .carousel-item .row {
      flex-direction: column; /* Stack content and image vertically on small screens */
    }
  
    .carousel-item .col-md-6 {
      width: 100%; /* Ensure both columns take full width */
    }
  
    .carousel-caption {
      text-align: center; /* Center the caption text */
    }
  }
  .carousel-custom-nav button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 13px;
    padding: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.the-heading-size-md {
    padding: 0px;
  margin-left:-12px;
}
.pt-50 {
    padding-top: 50px !important;
}
  
  .carousel-custom-nav button:hover {
    background-color: #00235a; /* Darker blue on hover */
  }
  /* Cursor Pointer for the images in the carousel */
.carousel-item img {
    cursor: pointer;
  }
  
  span.carousel-control-prev-icon {
    margin-left: -37px;
}

  #post-donkey-2 {
    border: 15px solid transparent;
    border-image-source: url(../img/frame__3.png);
    /* border-image-source: url(/Icc/assets/img/frame__3.png); */
    border-image-slice: 34;
    /* border-image-repeat: round; */
    height: 173px;
    margin: 9px;
    width: 275px;
}
div#post-donkey-2 img {
    height: 140px;
}
/*#carouselExampleDark {
    overflow-x: hidden;
 
}*/

/*==================================================
0.4 Our-Calender
==================================================*/

 .post__text {
    overflow: visible;
}

img.attachment-ceris-s-1_1.size-ceris-s-1_1.wp-post-image {
    height: 355px;
    width: 100%;
}
@media (min-width: 768px) {
    .post__text {
        -webkit-box-flex: 1;
        box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        flex: 1;
    }
}
.post__text {
    overflow: hidden;
}
/* Make the carousel items display flex with 50% width for both image and content */
.carousel-item .d-flex {
    display: flex;
    justify-content: space-between; /* Ensures there's space between the two sides */
}
#member-card-content {
    color: #000;
}

.carousel-item .post__thumb {
    flex: 50%; /* Image takes 50% width */
    
}

.carousel-item .post__text {
    flex: 50%; /* Content takes 50% width */
  
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);   
}

button.carousel-control-prev {
    margin-left: 36px;
}


.donkey-3 {
    border: 15px solid transparent;
    border-image-source: url(../img/frame__4.png);
    /* border-image-source: url(/Icc/assets/img/frame__4.png); */
    border-image-slice: 34;
    border-image-repeat: round;
}
.listing--list-large .post__thumb {
    width: 40%;
    height: 350px;
    margin-right: 25px;
}
@media (min-width: 768px) {
    .post--horizontal-flex .post__thumb {
        -webkit-box-flex: 0;
        box-flex: 0;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
}
@media (min-width: 992px) {
    .post--horizontal .post__thumb {
        margin: 0 30px 0 0;
    }
}
@media (min-width: 768px) {
    .post--horizontal .post__thumb {
        width: -webkit-calc(50% - 15px);
        width: -moz-calc(50% - 15px);
        width: calc(50% - 15px);
        float: left;
        margin: 0 20px 0 0;
    }
}
.post--horizontal .post__thumb {
    width: 100%;
    margin: 0 15px 5px 0;
}
@media (min-width: 768px) {
    .post--horizontal-flex .post__thumb {
        -webkit-box-flex: 0;
        box-flex: 0;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        -moz-box-flex: 0;
        flex: 0 0 auto;
    }
}
@media (min-width: 992px) {
    .post--horizontal .post__thumb {
        margin: 0 30px 0 0;
    }
}
@media (min-width: 768px) {
    .post--horizontal .post__thumb {
        width: -webkit-calc(50% - 15px);
        width: -moz-calc(50% - 15px);
        width: calc(50% - 15px);
        float: left;
        margin: 0 20px 0 0;
    }
}
.post--horizontal .post__thumb {
    width: 100%;
    margin: 0 15px 5px 0;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    bottom: inherit !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit !important; /* Corrected: added proper syntax for 'inherit' and '!important' */
    padding: inherit !important;
    color: #fff;
    text-align: center;
    background: none; /* '0 0' is incorrect; use 'none' for transparent background */
    border: 0;
    opacity: 0.5;
    top: 150px !important;
    transition: opacity 0.15s ease;
}
a.post__cat.post__cat--bg, a.post__cat.post__cat--bg[class*=cat-] {
    font-weight: 400 !important;
    color: #fff !important;
    font-size: 15px;
    line-height: 3.5;
    background-color: #00235a;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    margin-top: 5px !important;
    /*margin-left: 31px;*/
}
/*#pastEventsCarousel {
    background: #f0f8ff;
    margin-top: 13px;
    border: 1px solid gainsboro;
}*/
/*.event-slide {
    /* background: #f0f8ff;
    margin-top: 10px;
    width: 100%;
    padding: 9px 38px 8px 0px;
    /* border: 1px solid gainsboro;
}*/
.bg-top {
    border-top: 2px solid;
    padding-top: 5px;
   /* margin-left: -32px;*/
}
 .featured__title {
    margin-bottom: 5px;
}

.entry-title.typescale-3, .featured__title.typescale-3 {
    font-weight: 700;
    line-height: 1.5;
}

.entry-title.typescale-3, .featured__title.typescale-3, .typescale-3 {
    font-size: 1.424rem;
    line-height: 1.5;
}
.featured__title a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 30px;
}


.bg-botm {
    border-bottom: 2px solid;
    padding-bottom: 5px;
   /* margin-left: -31px;*/
}


.featured__btn [class*=js-ajax-load-] {
    color: #fff !important;
}
.featured__btn [class*=js-ajax-load-], .featured__btn [class*=js-ajax-load-]:active {
    border: 1px solid #00235a;
    background: #00235a;
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 12px 25px;
    font-size: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
   /* margin-left: 31px;*/
}
.featured__btn [class*=js-ajax-load-] {
    color: #fff !important;
}
h4.post-heading {
    font-size: 18px;
}
#carouselExampleControls {
    background: #f0f8ff;
    padding: 10px;
    margin-top: 11px;
    border: 1px solid #e1e1e1;
}
#carouselsliderControls{
   background: #f0f8ff;
    padding: 10px;
    margin-top: 11px;
    border: 1px solid #e1e1e1;
}


/*===========================================]
0.4 Building-Section
===========================================*/
#donkey-4 {
    border: 15px solid transparent;
    border-image-source: url(../img/frame__6.png);
    /* border-image-source: url(/Icc/assets/img/frame__6.png); */
    border-image-slice: 23;
    border-image-repeat: round;
}
#donkey-4 img {
    height: 378px;
}
h3.Building__title {
    line-height: 21px;
}
a#exciting {
    color: #404040;
}
button.Building__btn-default.js-ajax-load-post-trigger {
    border: 1px solid #00235a;
    background: #00235a;
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 12px 25px;
    font-size: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;   
}

/*=================================================
0.5 Press Vignettes
==================================================*/
.testimonial-content img {
    position: absolute;
    width: 24%;
    height: 99px;
}
h3.post__title.typescale-2.custom-typescale-2--xxs {
    font-size: 17px;
    padding-left: 126px;
    line-height: 27px;
}
.post__meta {
    margin-top: .4em;
    margin-bottom: .4em;
    color: rgba(0, 0, 0,);
    font-size: 18px;
    /* font-size: .85714rem; */
    line-height: 1.5;
}
.post__meta .time i {
    padding-bottom: 2px;
}
.post__meta .time i {
    padding-bottom: 2px;
}
.time__clock {
    margin-left: 128px;
}
 .post__meta i {
    margin-right: .3em;
}
.mdicon {
     font-family: 'Poppins', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Press {
    padding-top: 15px;
    background-color: #DBF6FF;
    padding-bottom: 15px;
}
/*============================================
0.6Corporate Members
==========================================*/
.owl-carousel .item img {
    width: 100%;  /* Ensure images fill their container */
    height: auto;  /* Maintain aspect ratio */
}
h4.event-title.mb-3 {
    font-size: 20px;
    font-weight: 800;
}

/*===================================================
0.7Latest News
================================================*/

.twitter-timeline {
    height: 370px !important;
    overflow-y: scroll;
}
.clients-container {
    background: #ff5e14;
    
}
#left-slider {
    background: #00235a;
    padding: 30px;
    height: 370px;
}
.News__text--wrap a {
    color: #fff;
    width: 100%;
    height: 100%;
}
.News__text--wrap a:hover{
    color: #fff !important;
}
.Latest__text--wrap a {
    color: #fff;
}
.Latest__text--wrap a:hover{
    color: #fff !important;
}
.excerpt {
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    overflow: hidden;
}
.entry-author {
    margin-top: -52px;
}
.entry-authors {
    margin-top: -52px;
}
.entry-author a {
    color: #fff;
    line-height: 175px;
    /* font-size: 22px; */
    font-weight: 800;
    margin-top: 61px !important;
}
.entry-authors a {
    color: #fff;
    line-height: 188px;
    /* font-size: 22px; */
    font-weight: 800;
    margin-top: 61px !important;
}
.entry-author a:hover {
    color: #fff !important;    
}
.entry-authors a:hover {
    color: #fff !important;    
}
/* Optional styling for spacing and alignment */
.mb-4 {
    margin-bottom: 1.5rem;
}

.owl-carousel .item img {
    width: 100%;
    height: auto;
    display: block;  
}

.content {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}
.member-post-heading {
    color: #00235a;
}

.block-heading__title {
    font-size: 24px;
    font-weight: bold;
    color: #00235a;
}
h3.News__title.typescale-2 {
    font-size: 20px;
    line-height: 29px;
    padding-top: 16px;
}
.News__cat-has-line:before {
    content: '';
    width: 3px;
    height: 4%;
    background-color: #ffffff;
    position: absolute;
    left: 0px;
    top: 5%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
a.text-decoration-none.News__cat.cat-theme.News__cat-has-line {
    padding-left: 14px;
    font-size: 13px;
}
a.text-decoration-none.Latest__cat.Latest__cat-has-line{
    padding-left: 14px;
    font-size: 13px;
}
.News__title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 50px;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
}
.Latest__title:after {
    content: '';
    position: absolute;
    left: 25px;
    bottom: 53px;
    width: 50px;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
}
.Latest__cat-has-line:before {
    content: '';
    width: 3px;
    height: 4%;
    background-color: #ffffff;
    position: absolute;
    left: 30px;
    top: 12%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.Latest__text--wrap {
    margin-top: -10px;
}
 .News__text--wrap{   
    left: 0px;    
    transform: translate3d(-246px, 0px, 0px);
    height: 276px !important;
   width: 82%;
    cursor: pointer !important;
    transition: 200ms ;
}

 
.Latest__text{  
    height: 276px !important;
    cursor: pointer !important;
    transition: 200ms ;

}
h3.Latest__title.text-decoration-none.typescale-2 {
    font-size: 24px;
    line-height: 29px;
    padding-top: 13px;
}
.chamber-section {
    background: #f1f1f1;
}
.card {
    border: none !important; /* Removes border */
  background-color: #fdfdfd00 !important;
}
#resources-box {
    background-color: #fff;
    padding: 12px;
    width: 98%;
    margin-left: 10px;
}
.process-wrap-content {
    padding-left: 25px;
}
.card-body.d-flex {
    color: #000;
}
.card-body.d-flex h5{
  font-size:1.1rem;
}
.card.d-flex {
    margin-top: 25px;
}
.bg-antiquewhite {
  background-color: antiquewhite;
}
.bg-aliceblue {
  background-color: aliceblue;
}


/*=================================
0.6 Our Network
======================================*/
a{
    text-decoration: none !important;
}
.network {
    padding-top: 15px;
    background-color:#00235a;
    padding-bottom: 34px;
}
.network-content {
    text-align: center;
}

.network-content h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #00235a;
}
h5.event-heading.fs-6.mt-2 a {
    color: #000;
    margin-left: -36px;
    font-size: 16px;
    font-weight: 700;
}

.network-content img {
    
    height: auto;
    border-radius: 8px;
}
.overlay-card {
    position: relative;
    overflow: hidden;
    /*border-radius: 8px;*/
    width: 100%;
    max-width: 85%;
}
  
  .overlay-card img {    
    height: auto;
    display: block;
  }
  
  


.overlay-content {
    position: absolute;
    top: 1px;
    left: 0;
    background: rgb(0 0 0 / 55%);
    color: white;
    display: flex
;
    align-items: center;
    height: 95px;
    text-align: center;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}
h3.network__title {
    line-height: 13px;
    margin-top: -12px;
}
  
.overlay-content a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;   
    font-weight: 600;
}
a.footer-contect {
    color: #00235a;
}
color{
    background-color: #00235a;
    color: #fff;
}
h5.footer-text{
    color: #00235a;
}
.rounded {
    border-radius: .25rem !important;
    width: 216px !important;
}

/*====================================
0.7 iccofficebearers.page
=====================================*/
.banner-section {
    height: 38vh;
    position: relative;
    overflow: hidden;
  }
  
  .banner-section .bg-image {
    background-image: url('../img/banner/Banner_content.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .banner-section .overlay {
    background: #11111166; /* Dark transparent overlay */
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .latest-slider {
    width: 100%;
    margin-left: 102px;
    max-width: 85%;
}
  .banner-section .container {
    z-index: 2;
  }
  a.btn.btn-blue-800.mt-3 {
    background: #00235a;
    color: #fff;
}
.cards-body {
    color: #000;
    padding-left: 29px;
}
.cards.d-flex.flex-row {
    border: 2px solid #e7e7e7;
    padding: 18px;
}
span.btn {
    background-color: #00235a;
    color: #fff;
    padding: 4px 15px;
    border-radius: 5px;
  border: 2px solid #00235a !important;
}
.object-fit-cover {
    object-fit: cover;
}

.overlay-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    transition: 0.6s ease; /* Smooth transition */
}

.overlay-gradient:hover {
    background: rgba(0, 0, 0, 0.65); /* Optional: Adjust the hover overlay */
}
.box__title {
    background: #00235a;
    padding: 7px;
    font-size: 12px;
}

h4.list___heading {
    font-size: 17px;
    font-weight: 600;
    padding-top: 21px;
    line-height: 33px;
   
    padding-left: 21px;
}
.card.border-0 {
    margin-top: -9px;
}
.home {
    height: 56vh;
    position: relative;
}
.videos {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-content {
    position: relative;
    padding-top: 150px;
    color: #fff;
    text-align: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(45px, 7vw, 130px);
    line-height: 1.1;
}

.home p {
    font-size: clamp(25px, 4vw, 40px);
    margin-top: 10px;
}

.home-content button {
    display: block;
    font-size: clamp(14px, 1.5vw, 18px);
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    margin: 50px auto 0;
    padding: 12px 20px;
    cursor: pointer;
}
/*=====================================
.08 Service
========================================*/
span.custom-share-label {
    margin-bottom: 6rem;
}
#share-sidebar {
    position: sticky;
    top: 120px;
}
.custom-share-label:before {
    content: "";
    position: absolute;
    left: 21%;
    top: 10%;
    width: 1px;
    height: 60px;
    background-color: #888 !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
a.social-box i {
    padding: 6px 9px;
    border: 1px solid #ddd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #898787;
}
a.social-box i:hover{
    background-color: #00235a;
    color: #fff;    
    border: none;
}
.service-title a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
h5.service-title a {
    color: #3e3b3b;
}
h4.service-title a {
    color: #000;
}
/*=================================
0.9 switzeland page
===================================*/
.icc-banner-section {
    position: relative;
    overflow: hidden;
}
.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.icc-carousel-item {
    position: relative;
    text-align: center;
  margin-left:-22px;
}

.icc-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.feature-box {
    padding: 20px 15px;
    position: relative;
}
h4.fw-bold {
    color: #2f2483;
    font-size: 20px;
    line-height: 31px;
}
/*.owl-controls, 
.owl-pagination {
  display: none !important;
}*/
.carousel-testimonia.owl-carousel.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    display: none;
}
.super-rounded {
    border-radius: 2rem;
  }
  p.fs-6 {
    font-family: auto;
}
.icc-intro-section{
    background-color: #cbdefc;
}
.intro-heading{
    font-family: 'Poppins', sans-serif;
    color: #2f2483;    
    font-size: 33px;
}
ul.list-unstyled li p {
    font-family: auto;
    color: #2c2c2c;
}
.icc-contact-box h3 {
    color: #2f2483;
    font: normal 22px "Oswald", sans-serif;
     font-size: 22px !important;
}
.icc-contact-box h3 strong{
    font-size: 22px;
}
.icc-contact-box h3 a {
    color: #2f2483 !important;
    font-family: 'Poppins', sans-serif;
}
#icc-contact {
    background-color: #cbdefc !important;
}
#icc-membership-highlight{
    background-color: #2f2483 !important;   
}
h3.fw-semibold {
    font-family: auto;
    color: #fff;
    font-size: 29px;
}
a.btn-2 {
    background-color: #fff;
    color: #2f2483;
    padding: 7px 25px;
    font-size: 20px;
    transition: all 300ms ease-in-out;
}
a.btn-2:hover {    
    color: #ffffff;
    padding: 7px 25px;
    border: 1px solid #fff;
    background-color: #2f2483;
    font-size: 20px;
}
.publication-overlay-card img {
    height: 500px;
    object-fit: cover;
  }


  .overlay-heading {
    background-color: rgb(0 0 0 / 17%);
    left: 0;
    right: 0;
    height: 100px;
    top: 401px;
    bottom: 0;
}
.overlay-heading h5 {
    /* top: 20%; */
    margin-top: 8px;
    font-size: 25px;
}
h3.service-heading.text-danger {
    font-size: 20px;
}
h5.service-title a {
    font-size: 15px;
}
h4.service-title a {
    font-size: 17px;
}

.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
@media (max-width: 992px) {
    .latest-slider {
        padding: 0px;
        margin-left: 1px;
        width: 100%;
        max-width: 100%;
    }
}
.offcanva-social-list {
    padding: 0 22px;
    font-size: 12px;
    padding-bottom: 7px;
    border-bottom: 1px solid #c3c2c2;
}
.offcanva-social-img {
    height: 31px;
    margin-top: -3px;
}
h2.offcanva-logo {
    max-width: 140px;
    display: block;
}
h2.offcanva-logo a img {
    width: 100%;
    max-width: 100%;
   
}
/*==================================
0. contact-page
======================================*/
  .contact-content-box {
    border: 1px solid;
    padding: 20px;
    background: #fff;
}
.contact-button {
    /* text-align: justify; */
    /* background: black; */
    margin-left: 36px;
}
.contact-box {
    background: #F8F8F8;
    padding-top: 25px;
}
a.text-decoration-none.contact-btn {
    background: #00235a;
    padding: 3px 15px;
    color: #fff;
    font-weight: 600;
}
h3.icc-office-location-contant a {
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    color: rgba(0, 0, 0, .4);
}
h3.icc-office-location-contant a:hover {    
    color: #00235a;
}
a.office-links {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size:14px;
}
a.office-links:hover{
  color:#000 !important;
}
a.office-link {
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
}
a.office-link:hover {   
    color: rgba(0, 0, 0, .6);
}
.event-block {
    padding-left: 12px;
    padding-top: 8px;
}
.past-events-box {
    margin-left: 26px;
}
.me-3.member-post-heading {
    width: 34px;
}

.swiper {
    width: 100%;
    height: 400px;
  }

  .swiper-slide {
    background: #00235a;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
  }
  #right-slider{
    background: #ff5e14;
  }


  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

  .swiper-pagination-bullet {
    background: #fff;
  }
  .Latest__twitterWrapper {
    height: 114px;
}



















@media (max-width: 992px) {
  #left-slider{
        padding: 0px;
  }
  footer.custom-footer.bg-light.text-dark.pt-5.pb-3 {
    text-align: center;
}
ul.list-unstyled.small{
    font-size: 18px !important;
}
ul.list-unstyled.small li a {
    font-size: 18px !important;
    color: #707070 !important;
}
h6.fw-bold.text-uppercase{
    display: none;
}
  .ratio.ratio-4x3.rounded.overflow-hidden.shadow-sm {
    width: 100%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.event-img-box.d-flex {
    display: block !important;
}
.block-heading.block-heading--style-6 .block-heading__title:before{
    margin-top: -38px;
}
img.img-fluid.br-rd.w-100{
    width: inherit !important;
}
.post__text h3{
    text-align: inherit;
}
h4.block-heading__title {
    padding-left: 11px !important;
    text-align: center;
    /* margin-left: 15px; */
}
.Latest__excerpt {
    width: 502px;
}
}
.drop-dropdown-menus{
    position: static !important;
    inset: unset !important;
    margin: initial !important;
    transform: none !important;
}
 
  
  
